*:focus {
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
  opacity: 0.6;
}
.header-color {
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #ff7500;
  padding-top: 16px;
  padding-bottom: 16px;
}


.class-1 {
  background-color: #FFFFFF;
}
.header-display {
  display: flex;
  align-items: center;


}
.header-logo {
  transition: opacity 0.4s ease;

}
.header-logo:hover{
opacity: 0.8;
}
.header-logo:active {
  opacity: 0.6;
}
.header-logo:focus {
  outline: 2px dotted #FF7500;
opacity: 0.6;
}
.header-list {
font-size: 13px;
font-weight: 500;
text-transform: uppercase;
list-style: none;
display: flex;
justify-content: flex-end;
padding: 0;
margin: 0px;
margin-right: 32px;
}




.list-item {
  text-decoration: none;
  list-style: none;
  color: rgba(0, 0, 0, 1);
  list-style: none;
  line-height: 15.23px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  transition: color 0.4s ease, opacity 0.4s ease;



}
.list-item-link {
  margin-right: 32px;
}
.child {
  margin-right: 0px;
}



.list-item:hover {
  color: #ff7500;
}
.list-item:active {
  opacity: 0.6;

}

.class-button {
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  color: #FFF;
  background: rgba(255, 117, 0, 1);
  font-family: 'Roboto', sans-serif;
  transition: opacity 0.4s ease;
  display: inline-block;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

}
.class-button:hover {
  opacity: 0.8;
}
.class-button:active {
  opacity: 0.6;
}
.line-hero {
  width: 80px;
  height: 3px;
  background: rgba(255, 117, 0, 1);
}
.python-book {
  background: rgba(37, 36, 32, 1);
  border-radius: 12px;
}

.main {
font-weight: 500;
letter-spacing: 1px;
font-size: 13px;
line-height: 15.23px;
color: #000000;
font-family: 'Roboto', sans-serif;
margin: 0px;
margin-bottom: 24px;
}
      .line-hero {
        width: 80px;
        height: 3px;
        border: none;
       background-color: #FF7500;
margin: 0;
margin-bottom: 40px;
      }

.python-box {
  display: flex;
  background: rgba(37, 36, 32, 1);
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;

}
.img-pyhon {
  width: 510;
  height: 510;
  border: radius 8px;

}
.bold-padding {
  padding-top: 210px;
  padding-bottom: 210px;
}

      .class-font {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-align: left;
        font-family: 'Roboto', sans-serif;
      }

      .list-item {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #252420;
        font-family: 'Roboto', sans-serif;


      }
      .item2 {
        width: 340;
      }
      .text-box {
        width: 440px;
      }
      .site-footer {
        background-color: #F8F8F8;

      }
      .hero {
height: 2px;
background-color: rgba(37, 36, 32, 0.5);
      }
      .list {
        list-style: none;
      }
      .icon-box {
        width: 100px;
        height: 100px;
        background-color:rgba(255, 117, 0, 0.2);
      }





.main {
font-weight: 700;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.5px;
color: rgba(255, 255, 255, 1);
font-family: 'Roboto Condensed', sans-serif;
margin: 0px;
margin-bottom: 24px;

}
.aksiya-margin {
margin-top: 0;
margin-bottom: 12px;

}
.small-text {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: rgba(255, 255, 255, 1);
font-family: 'Roboto', sans-serif;
margin-bottom: 32px;

}

.img-pyhon {
  width: 510;
  height: 510;
  border-radius: 8px;
}


.bold-text{
  font-weight: 700;
  font-size: 72px;
  line-height: 86.4px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 1);
margin: 0;
  margin-bottom: 72px;

}
.bold-box {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}
.bold-list {
font-weight: 700;
font-size: 24px;
line-height: 28.8px;
letter-spacing: 0.5px;
color: rgba(0, 0, 0, 1);
font-family: 'Roboto', sans-serif;
}
.bold-img-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
 background-color: rgba(255, 117, 0, 0.2);


}
.bold-img {
  width: 56px;
  height: 56px;
}
.bold-item {
width: 314px;
margin-right: 40px;

}
.bold-item:last-child {
  margin: 0;
}
.bold-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
 letter-spacing: 0.5px;
 color:  rgba(0, 0, 0, 1);

}

.bold {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 1);
display: flex;
  font-family: 'Roboto', sans-serif;

}
.orange {
  color: rgba(255, 117, 0, 1);

}
.p-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.img-aksiya {
  width: 440px;
  height: 440px;
  border-radius: 12px;

}
.aksiya-box {
display: flex;
justify-content: space-between;
align-items: center;

}
.aksiya-main {
  margin-top: 0;
  margin-bottom: 24px;
}


.footer-icon {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 56px;

}
.footer-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;

}
.footer-list li {
  margin-right: 16px;
}
.footer-list li:last-child {
  margin-right: 0;
}

.footer-list a {
  color: #252420;
}
.footer-list a:hover{
  color: #ff7500;
}
.footer-list a:active{
  opacity: 0.6;
}
.footer-line {
height: 2px;
background-color:  rgba(37, 36, 32, 0.5);
  border: 0;
  margin-top: 40px;
  margin-bottom: 64px;
}


.footer-item {
font-weight: 400px;
font-size: 16px;
line-height: 18.75px;
margin: 0;
margin-right: 68px;
padding: 0;
list-style: none;



}
.footer-item:last-child{
  margin-right: 0;
}

.footer-list-item {
  text-decoration: none;
  color: rgba(37, 36, 32, 1);
  font-family: 'Roboto', sans-serif;
  transition: color 0.4s ease;

}
.footer-list-item:hover{
  color: #ff7500;
}




.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 0;

}
